.textInput, .buttonInput, select{
  padding: 10px 12px;
}

input, select{
  width: 360px;
  max-width: 80%;
}

.dateInput{
  width: 175px;
  max-width: 60%;
}

#quiz-window{
  display: none;
}

.primary-quiz-button{
  padding: 8px 16px;
}